@model TutorialService.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEnrollment">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollmentID" />
            <div class="form-group">
                <label asp-for="Example" class="control-label"></label>
            </div>
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayFor(model => model.ExampleID)
                </dt>
            </dl>
            <div class="form-group">
                <label asp-for="Group.Name" class="control-label">Group Name</label>
                <input asp-for="Group.Name" class="form-control" />
                <span asp-validation-for="Group.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Color" class="control-label">Group Color</label>
                <input asp-for="Group.Color" class="form-control" />
                <span asp-validation-for="Group.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

